<div id="downloadcontent" class="exam-analysis-container" *ngIf="analysisData">
  <table class="excel-table">
    <tr>
      <td colspan="3" class="course-name">
        {{ analysisData.courseName }} Kazanım Raporu
      </td>
    </tr>
    <tr>
      <td>DOĞRU ORTALAMA</td>
      <td>YANLIŞ ORTALAMA</td>
      <td>BOŞ ORTALAMA</td>
    </tr>
    <tr>
      <td> {{ overallAverages.correct }}</td>
      <td> {{ overallAverages.wrong }}</td>
      <td> {{ overallAverages.notAnswered }}</td>
    </tr>
    <tr>
      <td class="gaining-title" colspan="3">
        DERS KAZANIMLARI
      </td>
    </tr>
    <ng-container style="page-break-inside: avoid;" *ngFor="let i of getQuestionIndices(); let index = index">
      <tr style="break-before: always; break-after:avoid;" [ngClass]="{ 'even-row': index % 2 === 0, 'odd-row': index % 2 !== 0 }">
        <td colspan="1" class="gaining-text">
          A{{ i + 1 }} - B{{ questionReference[i] || 'N/A' }} SORU KAZANIMI
        </td>
        <td colspan="2" class="gaining-text">
          {{ topics[i] || 'No Topic Provided' }}
        </td>
      </tr>
      <tr [ngClass]="{ 'even-row': index % 2 === 0, 'odd-row': index % 2 !== 0 }">
        <td>DOĞRU YAPAN SAYISI</td>
        <td>YANLIŞ YAPAN SAYISI</td>
        <td>BOŞ BIRAKAN SAYISI</td>
      </tr>
      <tr [ngClass]="{ 'even-row': index % 2 === 0, 'odd-row': index % 2 !== 0, 'last-row': true }">
        <td class="numeric-value">
          {{ questionsAnalysis[i].correctCount }}
        </td>
        <td class="numeric-value">
          {{ questionsAnalysis[i].wrongCount }}
        </td>
        <td class="numeric-value">
          {{ questionsAnalysis[i].notAnsweredCount }}
        </td>
      </tr>
    </ng-container>
  </table>
</div>
<button (click)="downloadPDF()" class="download-btn">PDF İndir</button>
