.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between the fields */
  }
  
  .form-group {
    flex: 1 1 20%; /* Makes the fields take 45% of the width */
    min-width: 200px; /* Ensures the fields don't get too narrow */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%; /* Makes the text area take full width of its container */
    padding: 8px;
    box-sizing: border-box;
  }
  
  .student-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between fields */
  }
  
  .form-group {
    flex: 1 1 30%; /* Each field will take up 30% of the width */
    min-width: 300px; /* Ensure fields don't get too narrow */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%; /* Makes the text area fill the container */
    padding: 8px;
    box-sizing: border-box;
  }
  
  th {
    text-align: start;
  }